extends layout

block accOpt
    li
        a(href='/login') Log In
        ul(id='manyItems')
            li
                a(href='/create') Register
            li
                a(href='#') Edit
            li
                a(href='#') Something
